<!-- sign in  -->

<div class="container">
  <div id="top" class="row">
    <div class="col">
    </div>
    <div class="col-6 styling">
      <h1 class="spacing">Sign In</h1>
    </div>
    <div class="col">
    </div>
  </div>
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6 background">
        <%= form_with url:sessions_path, scope: 'login' do |f| %>
        <%= f.label :email %>
        <%= f.text_field :email, placeholder: 'email', class: "form-control", id: "exampleInputEmail1", ariadescribedby: "emailHelp" %>
        <br>
        <%= f.label :password %>
        <%= f.password_field :password, placeholder: 'password', class: "form-control", id: "exampleInputPassword1" %>
        <br>
        <%= f.submit "Login", id: "button_two", class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="col">
    </div>
  </div>
</div>

