<!-- create comment -->

<div class="container-fluid">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6 background_p top">
    	<div class="header_two">
         <h4 >create comment </h4>
    	</div>
    </div>
    <div class="col">
    </div>
  </div>
<!-- end of row -->
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6 background_p">
      <div class="padding">
        <%= form_with model: @comment do |f| %>
          <%= f.label :Comment %>
          <%= f.text_field :comment, placeholder: 'comment' %>
          <%= f.submit "Add Comment", class: "btn btn-primary" %>
        <% end %>
      </div>
     </div>
   <div class="col">
   </div>
  </div>
  <!-- end of row -->
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6 background_p">
      <div class="padding padding_b">
        <div>
          <%= link_to "My Profile", current_user, class: "btn btn-primary" %>
      </div>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
</div>