<div class="container-fluid">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6 background_p top">
    	<div class="header_two">
		    <h2>Edit Profile</h2>
  		  <p>Enter the changes you wish to make in your account.</p>
        <p>Your current information</p>
        <div class="left">
           <p><strong>Name:</strong> <%= @user.name %></p>
           <p><strong>Email:</strong> <%= @user.email %></p>
           <p><strong>Password:</strong> <%= @user.password %></p>
        </div>
    	</div>
    </div>
    <div class="col">
    </div>
  </div>
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6 background_p">
      <div class="padding">
        <div class="form-group">
            <%= form_with model: @user do |f| %>
              <%= f.label :name %>
              <%= f.text_field :name, placeholder: 'name', class: "form-control", id: "name" %>
                <br>
              <%= f.text_field :email, placeholder: 'email', class: "form-control", id: "exampleInputEmail1", ariadescribedby: "emailHelp" %>
                <br>
              <%= f.password_field :password, placeholder: 'password', class: "form-control", id: "exampleInputPassword1" %>
                <br>
              <%= f.submit "Update Account", id: "button", class: "btn btn-primary" %>
            <% end %>
        </div>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6 background_p">
      <div class="padding padding_b">
        <%= link_to "Delete Account", @user, method: :delete, remote: true, class: "btn btn-success destroy" %>
			</div>
     </div>
     <div class="col">
     </div>
  </div>
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6 background_p">
      <div class="padding padding_b">
        <%= link_to "My Profile", current_user, class: "btn btn-primary" %>
      </div>
     </div>
     <div class="col">
     </div>
  </div>
</div>