<!-- shows current user profile -->
<!-- add if statement to only show add post for current user -->

<div class="container-fluid">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6 background_p top">
    	<div class="header_two">
         <h4 >Welcome to your Profile </h4>
         <h4><%= @user.name %></h4>
    	</div>
    </div>
    <div class="col">
    </div>
  </div>
<!-- end of row -->
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6 background_p">
      <div class="padding">
        <h4>Account Details</h4>
        <p class="left">Email: <%= @user.email %> </p>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
<!-- end of row -->
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6 background_p">
      <% if user_signed_in_? && current_user == @user %>
        <div class="padding">
          <%= form_with model: Post.new do |f| %>
          <%= f.label :Title %>
          <%= f.text_field :title, placeholder: 'title', class: "form-control", id: "title" %>
           <%= f.label :Content %>
          <%= f.text_field :content, placeholder: 'content' %>
            <%= f.submit "Create Post" %>
          <% end %>
        </div>
      <% end %>
     </div>
   <div class="col">
   </div>
  </div>
  <!-- end of row -->
   <div class="row">
    <div class="col">
    </div>
    <div class="col-6 background_p">
      <div class="padding">
        <h4>Your Posts</h4>
        <div class="posts padding left">
          <div>
            <% @user.post.each do |post| %>
              <p><%= post.title %></p>
              <p><%= post.content %></p>
                <div class="small">
                  <span>Posted by: <%= @user.name %> </span>
                  <span>on <%= post.created_at.to_formatted_s(:short) %></span>
                <%= link_to image_tag("delete-icon.png", class: "format"), @post, method: :delete %>
                <%= link_to image_tag("edit.png", class: "format"), edit_post_path(post) %>
            <% end %>
           </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="background_p padding">
        <h4 >Fellow Travelers</h4>
          <div class="size">
            <% @user_all.each do |user| %>
              <p class="font"></p>
                <%= link_to user.name, user %>
            <% end %></p>
          </div>
      </div>
    </div>
  </div>
<!-- end of row -->
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6 background_p">
      <div class="padding padding_b">
        <% if user_signed_in_? && current_user == @user %>
          <%= link_to "Edit Profile", edit_user_path(current_user) %>
        <% else %>
          <%= link_to "My Profile", current_user %>
        <% end %>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
</div>