<!-- shows current user profile -->
<div class="container-fluid">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6 background_p top">
      <div class="header_two">
       <h4 >Welcome to your Profile </h4>
       <h4><%= @user.name %></h4>
       </div>
    </div>
    <div class="col">
    </div>
  </div>
  <!-- end of row -->
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6 background_p">
      <div class="padding">
        <h4>Account Details</h4>
        <p class="left">Email: <%= @user.email %> </p>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
   <!-- end of row -->
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6 background_p ">
      <% if user_signed_in_? && current_user == @user %>
        <div class="padding">
          <%= form_with model: Post.new do |f| %>
          <%= f.label :Title %>
          <br>
          <%= f.text_field :title, placeholder: 'title', class: "form-control", id: "title" %>
            <br>
           <%= f.label :Content %>
           <br>
          <%= f.text_field :content, placeholder: 'content', class: "form-control", id:"content" %>
          <br>
          <%= f.submit "Create Post", class: "btn btn-primary", id: "button_three" %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col">
    </div>
  </div>
  <!-- end of row -->
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6 background_p">
      <div class="padding">
        <h4>Posts</h4>
      </div>
      <div class="posts padding left post_o">
          <% @user.posts.reverse.each do |post| %>
              <%= render post %>
              <% if user_signed_in_? && current_user == @user %>
                <%= link_to image_tag("edit.png", class: "format"), edit_post_path(post) %>
              <% end %> 
            <% end %>
      </div>
      
    </div>
    <div class="col">
      <div class="background_p padding">
        <h4 >Fellow Travelers</h4>
      </div>
      <div class="size background_p">
            <% @user_all.each do |user| %>
              <p class="font"></p>
                <%= link_to user.name, user %>
            <% end %></p>
      </div>
    </div>
  </div>
  <!-- end of row -->
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6 background_p">
      <div class="padding padding_b">
        <% if user_signed_in_? && current_user == @user %>
          <%= link_to "Edit Profile", edit_user_path(current_user), class: "btn btn-primary" %>
        <% else %>
          <%= link_to "My Profile", current_user, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <div class="col">
      3 of 3
    </div>
<!-- end of container -->
</div>