<!-- all blog posts -->
  <div class="container">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-6 header background">
        <h1>Adventures in Italy</h1>
      </div>
      <div class="col">
      </div>
    </div>
<!-- end of row -->
    <div class="row">
      <div class="col">
      </div>
      <div class="col-6 posts background">
        <div class="padding">
        <h4>Blog Posts</h4>
       <!--  <br> -->
          <div class="padding">
           <% @post_all.each do |post| %>
            <p class="font"> <%= post.title %></p>
            <p><%= post.content %></p>
            <div class="bottom">
            <span class="small"><%= post.created_at.to_formatted_s(:short) %></span>
            <span> <% if user_signed_in_? %>
              <%# link_to "Comment", comments_path %>
              <%= form_with model: @comment do |f| %>
              <%# f.label :Comment %>
              <%= f.text_field :comment, placeholder: 'comment' %>
              <%= f.hidden_field :post_id, :value => post.id %>
              <%= f.submit "Add Comment", class: "btn btn-primary" %>
               <span><%# comment.created_at.to_formatted_s(:short) %></span>
                 <%# @comment.each do |comment| %>
                  <p><%# @comment.comment %></p>
                  <p><%# comment.created_at.to_formatted_s(:short) %></p>
                 <%# end %>
               <% end %>
             <% end %>
            <% end %>
           </div>
         </div> 
        </div>
      </div>
      <div class="col">
      </div>
    </div>
    <!-- end of row -->
  </div>
