<div class="posts">

how your post layout should look
<%# @post.each do |post| %>
<%# render post %>
<%# end %>
</div> -->

<div class="container-fluid">
  <div class="row">
    <div class="col"></div>
    <div class="col-6 header background">
      <h1>Adventures in Italy</h1>
    </div>
    <div class="col"></div>
  </div>
  <!-- end of row -->
  <div class="row">
    <div class="col-6 offset-sm-3 background_p">
      <div class="padding_b">
        <h4>Blog Posts</h4>
      </div>
      <div class="posts post_o padding">
        <% @post_all.each do |post| %>
          <%= render post %>
          <div> 
            <% if user_signed_in_? %>
              <%= form_with model: @comment, class: "new_comment" do |f| %>
                <%= f.text_field :comment, placeholder: 'comment', class: "form-control" %>
                <%= f.hidden_field :post_id, :value => post.id %>
                <%= f.submit "add", :disable_with => 'adding...', class: "btn btn-primary", id: "update", remote: true  %>
              <% end %>
            <% end %>
          </div>
          <div class="comments">
            <% post.comments.reverse.each do |comment| %>
              <%= render comment %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div> <!-- .row -->
  <div class="row">
    <div class="col-6 offset-sm-3 background_p"></div>
  </div> <!-- end of row -->
</div> <!-- end of container