<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <body class="<%= @body_class %>">

    <nav>
      <ul class="nav">
        <% if user_signed_in_? %>
            <li class="nav-item">
              <%= link_to "Home", root_path, class: "nav-link active" %>
          </li>
          <li class="nav-item">
             <%= link_to "Profile", @user, class: "nav-link" %>
          </li>
          <li class="nav-item">
             <%= link_to "Blog", posts_path, class: "nav-link active" %>
          </li>
          <li class="nav-item">
             <%= link_to "Log Out", logout_path, method: :delete,  class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <  <%= link_to "Home", root_path, class: "nav-link active" %>
          </li>
          <li class="nav-item">
           <%= link_to "Blog", posts_path, class: "nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", new_session_path, id:"sign_in_button", class: "lp-navbar__button lp-navbar__button--fixed btn btn--secondary" %>
          </li>
          <li class="nav-item">
            <%= link_to "Create Account", new_user_path, id:"sign_in_button", class: "lp-navbar__button lp-navbar__button--fixed btn btn--secondary" %>
          </li>
        <% end %>
      </ul>
    </nav>
      <%= yield %>
      
      <div class="push"></div>
      <footer class="footer">
      <ul class="nav justify-content-center">
        <% if user_signed_in_? %>
          <li class="nav-item">
            <%= link_to "Home", root_path, class: "nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to "Profile", current_user, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Blog", posts_path, class: "nav-link active" %>
          </li>
           <!-- <li class="nav-item">
            <a class="nav-link" href="/show">Contributors</a>
          </li> -->
          <li class="nav-item">
          <li class="nav-item">
            <%= link_to "Log Out", logout_path, method: :delete,  class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Home", root_path, class: "nav-link active" %>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li> -->
          <li class="nav-item">
            <%= link_to "Blog", posts_path, class: "nav-link active" %>
          </li>
          <li class="nav-item">
               <%= link_to "Login", new_session_path, id:"sign_in_button", class: "lp-navbar__button lp-navbar__button--fixed btn btn--secondary" %>
          </li>
          <li class="nav-item">
               <%= link_to "Create Account", new_user_path, id:"sign_in_button", class: "lp-navbar__button lp-navbar__button--fixed btn btn--secondary" %>
          </li>
         <% end %>
      </ul>
    </footer>
  </body>
</html>
