<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <body class="<%= @body_class %>">

    <nav>
      <ul class="nav">
        <% if user_signed_in_? %>
          <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="blog">Blog</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="/show">Contributors</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="/sign_out">Sign Out</a>
        </li>
       <!--  <li class="nav-item">
          <a class="nav-link" href="/show">Contributors</a>
        </li> -->
        <% else %>
          <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="blog">Blog</a>
        </li>
           <li class="nav-item">
            <a class="lp-navbar__button lp-navbar__button--fixed btn btn--secondary" href="/sign_in" id="sign_in_button">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="lp-navbar__button lp-navbar__button--fixed btn btn--secondary" href="/create_account" id="create_account_button">Create Account</a>
          </li>
        <% end %>
      </ul>
    </nav>
      <%= yield %>
      
      <div class="push"></div>
      <footer class="footer">
      <ul class="nav justify-content-center">
        <% if user_signed_in_? %>
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
         <!-- <li class="nav-item">
          <a class="nav-link" href="/show">Contributors</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="/sign_out">Sign Out</a>
        </li>
        <% else %>
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <li class="nav-item">
            <a class="lp-navbar__button lp-navbar__button--fixed btn btn--secondary" href="/sign_in" id="sign_in_button">Sign In</a>
        </li>
        <li class="nav-item">
            <a class="lp-navbar__button lp-navbar__button--fixed btn btn--secondary" href="/create_account" id="create_account_button">Create Account</a>
        </li>
         <% end %>
      </ul>
    </footer>
  </body>
</html>
